body{
    background-image: url('https://www.acasadasartes.com.br/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/9/5/95.png');
    background-size: auto 100vh;
    height: auto;
    font-family: arial;
  }
  
  .menu{
    background-color: whitesmoke;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
  }